@{
    ViewData["Title"] = "Barrie Walkin Doctor Clinic Portal";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Barrie's Walkin Doctors Clinic</h1>
    <p>You can now request a walk in phone appointment from anywhere in the world.</p>
</div>
